<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row" *ngIf="profileData">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img [src]="isMale ? maleImageUrl : femaleImageUrl" alt="">
                    </a>
                    <h1>{{profileData.firstName + " " + profileData.lastName}}</h1>
                    <h3><span>Role: </span> {{profileData.roles.slice(5)}}</h3>
                </div>
            </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="panel">
                <div class="bio-graph-heading">
                    <ul style="list-style: none; padding-inline-start: 0px; margin-bottom: 0px;">
                        Projects :
                        <li class="rounded-pill mx-1 badge-custom" *ngFor="let project of profileData.projects"
                            [ngClass]="{'bg-danger': project.status==='Upcoming', 'bg-warning': project.status==='Previous'}">
                            {{project.projectName}}
                        </li>
                    </ul>
                </div>
                <div class="panel-body bio-graph-info">
                    <h1 style="text-align: center; margin-top: 10px;"><b>Personal Details</b> </h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>Employee Id </span>: {{profileData.id}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Employee Type </span>: {{profileData.department?.deptName}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Email </span>: {{profileData.email}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Designation </span>: {{profileData.employeeDetails?.designation}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Joining Date</span>: {{profileData.employeeDetails?.joiningDate}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Mobile </span>: {{profileData.employeeDetails?.contactNumber}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Gender </span>: {{profileData.employeeDetails?.gender}}</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Date of Birth</span>: {{profileData.employeeDetails?.dateOfBirth}}</p>
                        </div>
                    </div>
                </div>
                <div class="container" style="display: flex; justify-content: center; align-items: center;  ">
                    <button type="button" class="btn btn-danger" routerLink="update">Update Details</button>
                </div>
            </div>

        </div>
    </div>
</div>