<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mx-4 ">
  <div class="container">
    <a class="navbar-brand me-2" routerLink="/profile">
      <img src="https://intranet.argusoft.com/ems/assets/images/logo.png" alt="EMS Logo" loading="lazy" style="margin-top: -1px;" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item mx-1">
          <a routerLinkActive="active" class="nav-link custom-nav" routerLink="/profile" >Home</a>
        </li>
        <li class="nav-item mx-1" *ngIf="!userEmployee">
          <a routerLinkActive="active" class="nav-link custom-nav" routerLink="/userdata">Employee Details</a>
        </li>
        <li class="nav-item mx-1" *ngIf="!userEmployee">
          <a routerLinkActive="active" class="nav-link custom-nav" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item mx-1" >
          <a routerLinkActive="active" class="nav-link custom-nav" routerLink="/reports">Employee Report</a>
        </li>
        <li class="nav-item mx-1" >
          <a routerLinkActive="active" class="nav-link custom-nav" routerLink="/mentee-report">Mentee Report</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <div class="login" *ngIf="loggedIn">
          <button type="button" class="btn btn-link px-3 me-2" routerLink="login">Login</button>
        </div>
        <button type="button" class="btn btn-primary me-3" routerLink="/register" *ngIf="!userEmployee">Create Employee</button>
        <button type="button" class="btn btn-danger" *ngIf="!loggedIn" (click)="logout()">Logout</button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<router-outlet></router-outlet>