<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<div>
    <table class="table align-middle my-2 mx-4 bg-white" style="width: 96.5%;">
        <thead class="bg-light">
            <tr>
                <th>Project Id</th>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of projectData; let i = index">
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{data.projectId}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-normal mb-1">{{data.projectName}}</p>
                    </div>
                </td>
                <td>
                    {{data.projectDesc}}
                </td>
                <td>
                    <div class="badge rounded-pill mx-1" [ngClass]="{'bg-success': data.status==='Current', 'bg-warning': data.status==='Previous', 'bg-danger': data.status==='Upcoming'}">
                        {{data.status}}
                    </div>
                    <ul style="list-style: none; padding-inline-start: 0px;">
                    </ul>
                <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="addMembers(i)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <button type="button" class="btn btn-danger" (click)="onClick()">Add Project</button>
</div>
<router-outlet></router-outlet>
