<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<div>
    <table class="table align-middle my-2 mx-4 bg-white" style="width: 96.5%;">
        <thead class="bg-light">
            <tr>
                <th>Project Id</th>
                <th>Project Name</th>
                <th>Project Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of projectData; let i = index">
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{data.projectId}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-normal mb-1">{{data.projectName}}</p>
                    </div>
                </td>
                <td>
                    {{data.projectDesc}}
                </td>
                <td>
                    <div class="badge rounded-pill mx-1" [ngClass]="{'bg-success': data.status==='Current', 'bg-warning': data.status==='Previous', 'bg-danger': data.status==='Upcoming'}">
                        {{data.status}}
                    </div>
                    <ul style="list-style: none; padding-inline-start: 0px;">
                    </ul>
                <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <button type="button" class="btn btn-danger" routerLink="addnewproject">Add Project</button>
</div>

<!-- 
<div *ngIf="!isFormOpen" class="container" style="display: flex; justify-content: center; align-items: center;">
    <button type="button" class="btn btn-danger" (click)="openForm()">Add Project</button>
</div>

<div *ngIf="isFormOpen" class="model-container">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="myModalLabel" class="modal-title">Add New Project</h4>
            <button type="button" (click)="closeForm()" data-bs-dismiss="modal" aria-label="Close"
                class="btn-close"></button>
        </div>
        <form [formGroup]="addProjectForm" novalidate="" autocomplete="off" class="ng-pristine ng-invalid ng-touched"
            (ngSubmit)="submitForm()">
            <div class="modal-body">
                <div class="form-group row mt-2">
                    <label classformGroup="col-12 col-form-label required">Project Id*</label>
                    <div class="col-12">
                        <input type="text" placeholder="Ex: 1" name="projectid" required=""
                            class="form-control ng-untouched ng-pristine ng-invalid" aria-expanded="false"
                            aria-autocomplete="list" formControlName="projectId">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-12 col-form-label required">Project Name*</label>
                    <div class="col-12">
                        <input type="text" placeholder="Ex: Boston College" name="projectname" required=""
                            class="form-control ng-untouched ng-pristine ng-invalid" aria-expanded="false"
                            aria-autocomplete="list" formControlName="projectName">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-12 col-form-label required">Project Description</label>
                    <div class="col-12">
                        <input type="text" name="projectdesc" class="form-control ng-untouched ng-pristine ng-valid"
                            formControlName="projectDesc">
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-12 col-form-label required">Project Status</label>
                    <div class="col-12">
                        <select name="status" id="status" class="form-select mt-1 ng-untouched ng-pristine ng-valid"
                            formControlName="status">
                            <option value="Current">Current</option>
                            <option value="Previous">Previous</option>
                            <option value="Upcoming">Upcoming</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer my-2">
                <button type="button" (click)="closeForm()" data-bs-dismiss="modal"
                    class="btn btn-radius custom-gray me-2"> Close </button>
                <button type="submit" data-bs-dismiss="modal" class="btn btn-primary btn-radius">Add Project</button>
            </div>
        </form>
    </div>
</div> -->