<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">  
<div>
<table class="table align-middle my-2 mx-4 bg-white" style="width: 96.5%;">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Role</th>
        <th>Project</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userData; let i = index">
        <td>
          <div class="d-flex align-items-center">
            <img  [src]="data.employeeDetails?.gender==='Female' ? femaleImageUrl : maleImageUrl" alt=""  style="width: 45px; height: 45px" class="rounded-circle"/>
            <div class="ms-3">
              <p class="fw-bold mb-1">{{data.firstName + " " + data.lastName }}</p>
              <p class="text-muted mb-0">{{data.email}}</p>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex align-items-center justify-content-between" >
            <ng-container *ngIf="!data.isEditing; else editMode">
              <p class="fw-normal mb-1" style="max-width: 200px;">{{data.employeeDetails?.designation}}</p>
              <button type="button" class="btn btn-primary bi bi-pencil" style="font-size: 12px;" (click)="enableEdit(data)"></button>
            </ng-container>
            <ng-template #editMode style="padding-left: 0px; padding-right: 0px;">
              <input type="text" class="form-control" style="padding-left: 0px; padding-right: 0px; margin-right: 10px;" size="5" [id]="'designationInput-' + data.id" [(ngModel)]="data.employeeDetails.designation">
              <button type="button" class="btn btn-success" style="font-size: 12px; margin-right: 2px;" (click)="saveEdit(data,i)"><span class="bi bi-save"></span></button>
              <button type="button" class="btn btn-danger" style="font-size: 12px;" (click)="cancelEdit(data)"><span class="bi bi-x-lg"></span></button>
            </ng-template>
          </div>   
          <p class="text-muted mb-0">{{data.department.deptName}}</p>
        </td>
        <td>{{data.roles}}</td>
        <td>
            <ul style="list-style: none; padding-inline-start: 0px;">
                <li class="badge rounded-pill mx-1" *ngFor="let project of data.projects" [ngClass]="{'bg-success': project.status==='Current', 'bg-warning': project.status==='Previous'}">{{project.projectName}}</li>
            </ul>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="editDetails(data.id)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>